.contact {
    width: 50%;
    margin: 100px auto;
  }
 
  .input-btn {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .txtarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: px;
  }
  .submit-button {
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-weight: 700px;
   
    font-size: 16px;
    color: #ffffff;
    background-color: black;
    border-style: none;
    border-radius: 41px;
    padding: 10px 24px;
  }